---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import { talks } from "@/data/hall-of-fame";
import { Image } from "astro:assets";
import { getImage } from "../utils/getImage";

const orderedTalks = talks.sort((t1, t2) => (t1.speaker > t2.speaker ? 1 : -1));
---

<BaseLayout title="JSHeroes - Hall of Fame">
  <img
    class="block h-[400px] w-full object-cover"
    src={"/img/banners/default.svg"}
    aria-hidden
  />

  <main id="main">
    <Section variant="light" content="list">
      <div class="flex flex-col">
        <h1>JSHeroes Hall of Fame</h1>

        <p>
          Here are some of the amazing humans, that took the stage at JSHeroes
          across the years, and their awesome talks.
        </p>

        <div class="grid grid-cols-1 gap-1 pt-8 md:grid-cols-2 lg:grid-cols-3">
          {
            orderedTalks.map((talk) => (
              <a
                href={talk.link}
                target="_blank"
                rel="noreferrer noopener"
                class="relative overflow-hidden focus-visible:outline-dashed focus-visible:outline-[4px] focus-visible:outline-offset-0"
              >
                <Image
                  src={getImage(talk.cover)}
                  alt={talk.speaker}
                  width="400"
                  height="250"
                  class="w-full transition-transform duration-fade ease-out hover:scale-[1.1]"
                />
                <div class="to-transparent flex-end pointer-events-none absolute bottom-0 flex w-full flex-col bg-gradient-to-t from-brand-darknavy p-4 pt-8 font-display text-neutral-light">
                  <span class="text-lg font-bold">{talk.speaker}</span>
                  <span class="text-balance">{talk.title}</span>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </Section>
  </main>
</BaseLayout>
