---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import Banner from "@/sections/banner.astro";
import { Icon } from "astro-icon/components";

import {
  BRONZE_PACKAGE,
  SILVER_PACKAGE,
  GOLD_PACKAGE,
  BENEFITS_INFO,
} from "@/data/packages";
import { Image } from "astro:assets";
import { getImage } from "@/utils/getImage";
import ImagesBanner from "@/components/ImagesBanner.astro";
---

<BaseLayout>
  <Image
    src={getImage("event/sponsor4.jpg")}
    alt=""
    densities={[1.5, 2]}
    loading="eager"
    class="block h-[400px] w-full object-cover"
  />

  <main id="main">
    <Section variant="light" content="list">
      <h1>Sponsors welcome!</h2>
      <p class="text-balance">
        What started as a small idea from the local JavaScript community,
        evolved into one of the best community-organized events in Europe.
      </p>
      <div
        class="grid grid-cols-1 items-center gap-0 font-display sm:gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8"
      >
        <div class="flex flex-col">
          <span class="text-huge font-[500] text-accent-pink">350</span>
          <span class="mt-[-2rem] text-lg font-[500]">attendees</span>
          <span>30% international audience</span>
        </div>

        <div class="flex flex-col">
          <span class="text-huge font-[500] text-dodger-blue">16</span>
          <span class="mt-[-2rem] text-lg font-[500]">speakers</span>
          <span>from all over the world</span>
        </div>

        <div class="flex flex-col">
          <span class="text-huge font-[500] text-accent-green">2</span>
          <span class="mt-[-2rem] text-lg font-[500]">days</span>
          <span>14 hours of quality content</span>
        </div>

        <div class="flex flex-col">
          <span class="text-huge font-[500] text-accent-orange">3K</span>
          <span class="mt-[-2rem] text-lg font-[500]">members</span>
          <span>local community members</span>
        </div>

        <div class="flex flex-col">
          <span class="text-huge font-[500] text-accent-green">10K</span>
          <span class="mt-[-2rem] text-lg font-[500]">followers</span>
          <span>across our social media channels</span>
        </div>

        <div class="flex flex-col">
          <span class="text-huge font-[500] text-accent-pink">3.8K</span>
          <span class="mt-[-2rem] text-lg font-[500]">subscribers</span>
          <span>on our YouTube channel</span>
        </div>
      </div>
    </Section>

    <ImagesBanner images={["event/sponsor5.jpg", "event/sponsor6.jpg", "event/sponsor7.jpg"]} />
    <Section variant="dark" content="list">
      <h2>Why should you sponsor us?</h2>

      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
        <div>
          <h3>Exposure to a dedicated community</h3>
          <p class="mt-4">
            Community events get the best out of people that want to share
            ideas, network or find new opportunities. You can expect a balanced
            mix of seasoned professionals and fast growing beginners to come in
            contact with your company.
          </p>
        </div>

        <div>
          <h3>Brand association</h3>
          <p class="mt-4">
            Over the past 10 years, JSHeroes has grown into one of the most <strong
              >recognizable</strong
            > brands in the JavaScript community worldwide. Your company
            will benefit from being showcased on our visuals and video recordings.
          </p>
        </div>
      </div>

      <div class="mt-0 grid grid-cols-1 gap-8 md:mt-8 md:grid-cols-2 md:gap-16">
        <div>
          <h3>Contribute to the growth of the community</h3>
          <p class="mt-4">
            We strongly believe that JavaScript is the future. Therefore, our
            mission is to <strong>grow</strong> together with the community.
            Through JSHeroes, we aim to keep everyone in sync with the latest advancements
            and trends in the world of JavaScript and web development.
          </p>
        </div>

        <div>
          <h3>Support a non-profit and transparent event</h3>
          <p class="mt-4">
            We embraced the <strong>open source</strong> model from the beginning.
            All the details about the event are public and our budget and expenses
            are published after each event on <a href="/transparency"
              >our transparency page</a
            >.
          </p>
        </div>
      </div>
    </Section>

    
    <Section variant="light" content="list">
      <h2>Sponsor Packages</h2>
      {
        [GOLD_PACKAGE, SILVER_PACKAGE, BRONZE_PACKAGE].map((p) => (
          <div
            class={`flex flex-col lg:flex-row gap-3 min-h-[320px] rounded-lg border-[4px] border-${p.color} px-6 py-4 relative ${p.availability > 0 ? 'grayscale-0 opacity-100' : 'grayscale opacity-70'}`}
          >
            <div class="flex flex-1 flex-col items-start">
              <h3>{p.name} Package</h3>
              <span class="font-display text-lg font-bold">{p.price} €</span>
              <span class="max-w-[35ch]">{p.description}</span>
              <span class={`bg-${p.color} px-3 py-1 font-bold absolute right-[-4px] top-[-4px] rounded-bl-lg rounded-tr-lg lg:right-auto lg:top-auto lg:left-[-4px] lg:bottom-[-4px]`}>{p.availability === 0 ? 'SOLD OUT' : `${p.availability} ${p.availability === 1 ? 'package' : 'packages'} left`}</span>
            </div>
            <div class="flex flex-1 flex-col py-1">
              {p.benefits.map((benefit) => (
                <div class={`flex items-center gap-2`}>
                  <img src="/img/props/rocket.svg" alt="" class="h-4 w-4" />
                  <span
                    class={p.highlightedBenefits.includes(benefit) ? "font-bold" : "font-normal"}
                  >
                    {BENEFITS_INFO[benefit].display}
                  </span>
                  <span class="ml-auto md:ml-0">
                    {BENEFITS_INFO[benefit].explanation && (
                      <span title={BENEFITS_INFO[benefit].explanation}>
                        <Icon class="w-5 h-5" name="mdi:tooltip-text-outline" />
                      </span>
                      )}
                      {BENEFITS_INFO[benefit].link && (
                        <a class="hover:text-accent-pink transition-colors" href={BENEFITS_INFO[benefit].link} target="_blank" rel="noreferrer noopener">
                        <Icon class="w-5 h-5" name="mdi:camera-outline" />
                        </a>
                      )}
                  </span>
                </div>
              ))}
            </div>
          </div>
        ))
      }

      <div class="mt-8 flex flex-col items-start">
        <h3 class="font-bold">Contact</h3>
        <p>Alexandra Retegan</p>
        <a href="mailto:welcome@jsheroes.io" class="block" title="This is an email"
          >welcome@jsheroes.io</a
        >
        <a href="tel:0040756403372" class="block" title="This is a phone number">+4 0756 403 372</a>
      </div>
    </Section>

    <ImagesBanner images={["event/sponsor1.jpg", "event/sponsor2.jpg", "event/sponsor3.jpg"]} />
    <Section variant="dark" content="list">
      <div class="mt-8 flex items-center gap-4">
        <div class="mr-4 hidden w-[286px] md:block">
          <img class="rounded-2xl" src="/img/sponsors-page/maarten.jpg" />
        </div>
        <blockquote class="flex max-w-[50ch] flex-col gap-2">
          <cite>
            <p> 
              If there is one conference that you already should put on your
              shortlist for (the) next year(s), JSHeroes is the one.
            </p>
            <p>
              From seasoned veterans to emerging talents, the line-up every year
              is a true reflection of the Web community's diversity and
              innovation. The above-and-beyond hospitality of the organization,
              the diverse range of international attendees, and the focus on
              inclusiveness, makes JSHeroes Conference one of the top
              conferences in Europe.
            </p>
          </cite>

          <footer class="flex flex-col">
            <strong>Maarten van Hoof</strong>
            <span>Devops Engineer Frontend @ Essent</span>
          </footer>
        </blockquote>
      </div>
      <div class="ml-0 flex items-center gap-4 md:ml-auto">
        <blockquote
          class="mr-4 flex max-w-[50ch] flex-col gap-2 text-left md:text-right"
        >
          <cite>
            People just start talking about their pains in the code business.
            It's amazing! It feels like a group therapy, in a way. And this is
            something you cannot replace when doing online events.
          </cite>
          <footer class="flex flex-col">
            <strong>Natalia Tepluhina</strong>
            <span>Principal Engineer @ Gitlab</span>
          </footer>
        </blockquote>
        <div class="hidden w-[286px] md:block">
          <img
            class="rounded-2xl"
            src="/img/sponsors-page/natalia-tepluhina.jpg"
          />
        </div>
      </div>
    </Section>
  </main>
</BaseLayout>
