---
import type { AgendaItem, Person } from "../data/types";
import { getPersonIdFromFilePath } from "../utils";

export interface Props {
  agendaItems: AgendaItem[];
  title: string;
}

const speakers = await Astro.glob<Person>("../data/speakers/*.md");
const speakerTalks = await Astro.glob<Person>("../data/speaker-talks/*.md");

const { agendaItems, title } = Astro.props as Props;

const getSpeakerInfo = (speakerId: string) => {
  const speakerDetails = speakers.find(
    (s) => speakerId === getPersonIdFromFilePath(s.file)
  );

  const speakerTalk = speakerTalks.find(
    (s) => speakerId === getPersonIdFromFilePath(s.file)
  );

  if (!speakerDetails || !speakerTalk) {
    return null;
  }

  return {
    id: speakerId,
    name: speakerDetails.frontmatter.name,
    imgName: speakerDetails.frontmatter.imgName,
    talkTitle: speakerTalk.frontmatter.title || "TBA",
  };
};
---

<h2>{title}</h2>

<ul class="agenda-items">
  {
    agendaItems.map((agendaItem) => {
      if (agendaItem.type === "placeholder") {
        return (
          <li class="agenda-item">
            <div class="agenda-row">
              <span class="time-slot">{agendaItem.timeSlot}</span>

              <div class="speaker-slot">
                <img src={`/img/${agendaItem.imgName}`} />
                <span>{agendaItem.content}</span>
              </div>
            </div>
          </li>
        );
      } else {
        // TODO: Handle multiple speakers, currently assume speakers[0]
        const speaker = getSpeakerInfo(agendaItem.speakers[0]);

        if (!speaker) {
          return (
            <li class="agenda-item">
              <div class="agenda-row">
                <span class="time-slot">{agendaItem.timeSlot}</span>

                <div class="speaker-slot">
                  <img src={`/img/props/bear.svg`} />
                  <span>TBA</span>
                </div>
              </div>
            </li>
          );
        }

        return (
          <li class="agenda-item">
            <button
              aria-haspopup="dialog"
              aria-controls={speaker.id}
              class="agenda-row clickable"
              onclick={`window['${speaker.id}'].showModal()`}
            >
              <span class="time-slot">{agendaItem.timeSlot}</span>
              <div class="speaker-slot">
                <img src={`/img/${speaker.imgName}`} />
                <div class="talk">
                  <strong>{speaker.name}</strong>
                  <span>{speaker.talkTitle}</span>
                </div>
              </div>
            </button>
          </li>
        );
      }
    })
  }
</ul>

<style>
  .agenda-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-display);
  }

  .agenda-item {
    display: flex;
  }

  .agenda-item:not(:last-child) {
    border-bottom: 1px solid var(--color-accent-pink);
  }

  .agenda-item:nth-child(3n) img {
    border: 0 solid var(--color-accent-pink);
  }

  .agenda-item:nth-child(3n + 1) img {
    border: 0 solid var(--color-accent-orange);
  }

  .agenda-item:nth-child(3n + 2) img {
    border: 0 solid var(--color-accent-green);
  }

  .agenda-row {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 4rem;
    transition: outline-offset var(--speed-fade) ease-out;
  }

  .agenda-row.clickable {
    border: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    width: 100%;
  }

  @media screen and (max-width: 756px) {
    .agenda-row {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      padding: 1rem 0;
    }
  }

  .agenda-row img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    filter: grayscale(1);
    transition: border-width var(--speed-fade) ease-out,
      filter var(--speed-fade) ease-out;
  }

  .agenda-row:hover img {
    border-width: 0.45rem;
    filter: none;
  }

  .agenda-row:focus-visible {
    outline: dashed var(--color-accent-pink) 5px;
    outline-offset: 8px;
    filter: grayscale(0);
  }

  .agenda-row:focus-visible img {
    filter: none;
  }

  .time-slot {
    white-space: nowrap;
  }

  .speaker-slot {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    transition: gap var(--speed-move) ease-out;
  }

  .talk {
    display: flex;
    flex-direction: column;
  }
</style>
