---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Modal from "./Modal.astro";
import { getImage } from "../utils/getImage";

export interface Props {
  author: CollectionEntry<"organizers" | "guest-writers">;
  publishDate?: string;
}

const { author, publishDate } = Astro.props;
---

<div class="author-anchor">
  <button
    class="group flex items-center gap-2 rounded-[2rem] border-0 bg-neutral-light py-2 pl-2 pr-4 transition-colors duration-200 ease-out hover:bg-accent-pink"
    aria-haspopup="dialog"
    aria-controls={author.id}
    onclick={`window['${author.id}'].showModal()`}
    title={`See the profile of ${author.data.name}`}
  >
    <Image
      src={getImage(author.data.imgName)}
      alt={author.data.name}
      width="57"
      height="57"
      class="duration-speed-move w-12 rounded-full transition-all ease-out group-hover:scale-110"
    />
    <div class="flex flex-col leading-5">
      <strong class="author-name">{author.data.name}</strong>
      <span>{publishDate}</span>
    </div>
  </button>

  <Modal person={author} />
</div>

<style>
  .author-anchor {
    --person-accent-color: theme("colors.accent-pink");
  }
</style>
