---
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import { type CollectionEntry, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import { getImage } from "../utils/getImage";

interface Props {
  person:
    | CollectionEntry<"organizers">
    | CollectionEntry<"ambassadors">
    | CollectionEntry<"speakers">
    | CollectionEntry<"support">
    | CollectionEntry<"guest-writers">;
}

const { person } = Astro.props as Props;

const speakerTalk = await getEntryBySlug("speaker-talks", person.slug);

const { Content: BioContent } = await person.render();

let TalkContent: AstroComponentFactory | null = null;
if (speakerTalk) {
  const { Content } = await speakerTalk.render();
  TalkContent = Content;
}

let links = [];
const linkMap: Record<string, string> = {
  twitter: "Twitter",
  github: "GitHub",
  website: "Website",
  linkedin: "LinkedIn",
};

const sortOrder = [
  linkMap.twitter,
  linkMap.github,
  linkMap.linkedin,
  linkMap.website,
];

if (person.data.links) {
  for (const [key, value] of Object.entries(person.data.links)) {
    links.push({
      name: linkMap[key],
      url: value,
      icon: `/img/icons/${key === "website" ? "link" : key}.svg`,
    });
  }
}

links.sort((a, b) => sortOrder.indexOf(a.name) - sortOrder.indexOf(b.name));
---

<dialog
  aria-labelledby={`${person.id}-title`}
  id={person.id}
  onclick="
  if (event.currentTarget === event.target) event.currentTarget.close()
  "
>
  <main class="w-100% max-w-[800px] flex flex-col gap-6 overflow-auto">
    <div
      class="flex flex-col items-center md:flex-row md:items-start w-100% gap-4 pb-2"
    >
      <div class="flex items-center flex-col md:items-start gap-4">
        <Image
          src={getImage(person.data.imgName)}
          alt={person.data.name}
          width="250"
          height="250"
          class="max-w-[inherit]"
        />
        <div class="flex gap-4 px-2">
          {
            links.length > 0 &&
              links.map((link) => (
                <a
                  class="flex w-5 h-5 transition-all ease-out duration-move hover:scale-125 hover:contrast-200"
                  href={link.url}
                  target="_blank"
                  rel="noopener"
                  title={link.name}
                >
                  <img src={link.icon} alt={link.name} loading="lazy" />
                </a>
              ))
          }
        </div>
      </div>

      <div class="min-w-auto md:min-w-[250px] flex flex-col gap-2">
        <div id={`${person.id}-title`} class="flex flex-col" role="heading">
          <strong class="text-lg">{person.data.name}</strong>
          <span
            >{
              person.data.company
                ? `${person.data.title} @ ${person.data.company}`
                : person.data.title
            }</span
          >
        </div>

        <BioContent />
      </div>
    </div>

    {
      speakerTalk && TalkContent ? (
        <div class="flex flex-col gap-2">
          <strong>Talk: {speakerTalk.data.title}</strong>
          <TalkContent />
        </div>
      ) : null
    }
  </main>

  <form method="dialog">
    <button class="group" aria-label="Close modal">
      <img
        alt="Close modal"
        class="w-6 h-6 transition-transform ease-out duration-move group-hover:scale-125"
        src="/img/icons/close.svg"
      />
    </button>
  </form>
</dialog>

<style>
  dialog {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    overflow: visible;
    border: 1rem solid var(--person-accent-color);
  }

  dialog[open] {
    display: flex;
  }

  @media screen and (max-width: 550px) {
    dialog {
      height: 100%;
      width: 100%;
    }
  }

  dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
  }

  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 0;
    appearance: none;
    border: 0px solid var(--color-neutral-light);
    border-radius: 50%;
    top: -2rem;
    right: -2rem;
    width: 3rem;
    height: 3rem;
    background: var(--person-accent-color);
    transition: border-width var(--speed-move) ease-out,
      outline-offset var(--speed-move) ease-out;
  }

  button:hover {
    border-width: 4px;
  }
</style>
