---
import type { Person } from "../data/types";

interface Props {
  person: Person;
}

const { person } = Astro.props as Props;
---

<dialog
  aria-labelledby={`${person.id}-title`}
  id={person.id}
  onclick="if (event.currentTarget === event.target) event.currentTarget.close()"
>
  <main>
    <div class="bio">
      <img
        class="photo"
        src={`/img/${person.bio.imgName}`}
        alt={person.bio.name}
        loading="lazy"
      />
      <div class="bio-details">
        <div id={`${person.id}-title`} class="bio-title" role="heading">
          <strong class="bio-name">{person.bio.name}</strong>
          <span
            >{
              person.bio.company
                ? `${person.bio.title} @ ${person.bio.company}`
                : person.bio.title
            }</span
          >
        </div>
        <person.BioMdContent />
      </div>
    </div>

    {
      person.type === "speaker" && person.talk?.title ? (
        <div class="talk">
          <strong>Talk: {person.talk.title}</strong>
          {person.TalkMdContent && <person.TalkMdContent />}
        </div>
      ) : null
    }
  </main>

  <form method="dialog">
    <button aria-label="Close modal">
      <img alt="Close modal" class="close" src="/img/icons/close.svg" />
    </button>
  </form>
</dialog>

<style>
  dialog {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    overflow: visible;
    border: 1rem solid var(--person-accent-color);
  }

  dialog[open] {
    display: flex;
  }

  @media screen and (max-width: 550px) {
    dialog {
      height: 100%;
      width: 100%;
    }
  }

  dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
  }

  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 0;
    appearance: none;
    border: 0px solid var(--color-neutral-light);
    border-radius: 50%;
    top: -2rem;
    right: -2rem;
    width: 3rem;
    height: 3rem;
    background: var(--person-accent-color);
    transition: border-width var(--speed-move) ease-out,
      outline-offset var(--speed-move) ease-out;
  }

  button:hover {
    border-width: 4px;
  }

  button:hover .close {
    transform: scale(1.2);
  }

  .close {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform var(--speed-move) ease-out;
  }

  main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
    width: 100%;
  }

  .bio {
    display: flex;
    gap: 1rem;
  }

  .bio-details {
    min-width: 250px;
  }

  p {
    margin: 0;
  }

  .photo {
    width: 250px;
    height: 250px;
  }

  .bio-title {
    display: flex;
    flex-direction: column;
  }

  .bio-name {
    font-size: var(--font-size-lg);
  }

  @media screen and (max-width: 756px) {
    .bio {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .bio-details {
      min-width: auto;
    }

    .bio-title {
      text-align: center;
    }

    .photo {
      width: 200px;
      height: 200px;
    }
  }
</style>
