---
import type { Person } from "../data/types";
import Modal from "../components/Modal.astro";

export interface Props {
  person: Person;
  variant?: "large" | "small";
}

const { person, variant = "large" } = Astro.props as Props;
---

<div class="card" data-size={variant}>
  <button
    aria-haspopup="dialog"
    aria-controls={person.id}
    class="clickable-photo"
    onclick={`window['${person.id}'].showModal()`}
  >
    <img src={`/img/${person.bio.imgName}`} alt={person.bio.name} />
  </button>
  <div class="details">
    <strong>
      {person.bio.name}
    </strong>
    {
      variant === "large" && (
        <>
          <span>{person.bio.title}</span>
          {person.bio.company && <span>{person.bio.company}</span>}
        </>
      )
    }
  </div>

  <Modal person={person} />
</div>
<style>
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    font-family: var(--font-family-display);
  }

  .card[data-size="small"] {
    width: 11rem;
  }

  .card[data-size="small"] .clickable-photo:hover {
    border-width: 0.7rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .clickable-photo {
    padding: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 999px;
    border: 0rem solid var(--person-accent-color);
    transition: outline-offset var(--speed-fade) ease-out,
      filter var(--speed-fade) ease-out, border-width var(--speed-fade) ease-out;
    filter: grayscale(1);
  }

  .clickable-photo img {
    display: block;
    width: 100%;
  }

  .clickable-photo:hover {
    border-width: 1rem;
    filter: grayscale(0);
  }

  .clickable-photo:focus-visible {
    outline: dashed var(--color-accent-pink) 5px;
    outline-offset: 8px;
    filter: grayscale(0);
  }
</style>
