---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import Modal from "../components/Modal.astro";
import { getImage } from "../utils/getImage";

export interface Props {
  person:
    | CollectionEntry<"organizers">
    | CollectionEntry<"ambassadors">
    | CollectionEntry<"speakers">
    | CollectionEntry<"support">
    | CollectionEntry<"guest-writers">;
  variant?: "large" | "small";
}

const { person, variant = "large" } = Astro.props as Props;

const sizeClasses = variant === "small" ? "w-44" : "w-60";
---

<div
  class={`flex flex-col item-center gap-4 font-display ${sizeClasses}`}
  data-size={variant}
>
  <button
    aria-haspopup="dialog"
    aria-controls={person.id}
    class="block p-0 overflow-hidden rounded-full border-0 border-solid border-[var(--person-accent-color)] grayscale transition-all ease-out duration-fade hover:border-[1rem] hover:grayscale-0 focus-visible:grayscale-0 focus-visible:outline-offset-8 focus-visible:outline-dashed focus-visible:outline-[5px] focus-visible:outline-[var(--person-accent-color)]"
    onclick={`window['${person.id}'].showModal()`}
    title={`See the profile of ${person.data.name}`}
  >
    <Image
      src={getImage(person.data.imgName)}
      alt={person.data.name}
      width="286"
      height="286"
      loading="eager"
    />
  </button>

  <div class="flex flex-col items-center text-center">
    <span class="font-semibold">
      {person.data.name}
    </span>
    {
      variant === "large" && (
        <>
          <span>{person.data.title}</span>
          {person.data.company && <span>{person.data.company}</span>}
        </>
      )
    }
  </div>

  <Modal person={person} />
</div>
