---
import type{ Person } from '../data/types';

export interface Props {
  person: Person
  variant?: "large" | "small";
}

const {
  person,
  variant = "large",
} = Astro.props as Props;
---

<div class="card" data-size={variant}>
  <div class="frame">
    <img tabindex="0" class="photo" src={`/img/${person.imgName}`} />
  </div>
  <div class="details">
    <strong>
      {person.name}
    </strong>
    {
      variant === "large" && (
        <span>{person.company ? `${person.title} @ ${person.company}` : person.title}</span>
      )
    }
  </div>
</div>
<style>
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family-display);
  }

  .card[data-size="small"] .photo {
    width: 11rem;
  }

  .card[data-size="small"] .photo:hover {
    border-width: 0.7rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    width: 15rem;
    border-radius: 999px;
    border: 0rem solid var(--person-accent-color);
    transition: outline-offset var(--speed-fade) ease-out,
      filter var(--speed-fade) ease-out, border-width var(--speed-fade) ease-out;
    filter: grayscale(1);
  }

  .photo:hover {
    border-width: 1rem;
    filter: grayscale(0);
  }

  .photo:focus-visible {
    outline: dashed var(--color-accent-pink) 5px;
    outline-offset: 8px;
    filter: grayscale(0);
  }
</style>
