---
import { communities } from "../data/communities";
import { sponsors } from "../data/sponsors";
---

{
  sponsors.length > 0 && (
    <>
      <div class="content center">
        <h2>Event sponsors</h2>
        <p>
          These are the companies that support our event financially through the{" "}
          <strong>€3,000</strong> standard package. <br />
          If you are interested in supporting us,{" "}
          <strong>
            <a href="/brochure.pdf" target="_blank" rel="noreferrer noopener">
              check out our sponsorship brochure
            </a>
          </strong>{" "}
          for more information.
        </p>
      </div>
      <ul role="list" class="list">
        {sponsors.map((sponsor) => (
          <li class="list-item sponsor">
            <a
              class="friend-link"
              href={sponsor.url}
              target="_blank"
              rel="noreferrer noopener"
              title={sponsor.name}
            >
              <img src={`/img/${sponsor.imgName}`} alt="" loading="lazy" />
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}

<div class="content center">
  <h2>Event partners</h2>

  <p>To be announced</p>
</div>

<div class="content center">
  <h2>Media partners</h2>

  <p>The communities that support our event</p>
</div>

<ul role="list" class="list">
  {
    communities.map((com) => (
      <li class="list-item community">
        <a
          class="friend-link"
          href={com.url}
          target="_blank"
          rel="noreferrer noopener"
          title={com.name}
        >
          <img src={`/img/${com.imgName}`} alt="" />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
  }

  .list-item {
    list-style: none;
    width: 200px;
    display: flex;
  }

  .list-item.community {
    width: 150px;
  }

  .friend-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: outline-offset var(--speed-fade) ease-out;
  }

  .friend-link:hover {
    outline: solid var(--color-accent-pink);
    outline-offset: -10px;
  }

  .friend-link img {
    width: 100%;
  }

  .friend-link::after {
    display: none;
  }
</style>
