---
import { Image } from "astro:assets";
import { communities } from "../data/communities";
import { partners } from "../data/partners";
import { goldSponsors, silverSponsors, bronzeSponsors } from "../data/sponsors";
import { getImage } from "../utils/getImage";

const listStyles =
  "grid w-full justify-center md:justify-start items-center gap-2 sm:gap-4 p-0 m-0";

const listItemStyles = "flex items-center justify-center list-none";

const linkStyles =
  "flex items-center justify-center w-full h-full border rounded-2xl border-solid border-neutral-separator transition-[border-width] duration-fade ease-out hover:border-[16px] hover:border-accent-pink";

const imageWrapperStyles = "flex items-center justify-center w-full h-auto p-4";

const headingStyles = "text-center md:text-left";

---

<div class="space-y-16">
  <div class="space-y-6">
    <h2 class={headingStyles}>Gold sponsors</h2>
    <ul role="list" class={`${listStyles} grid-cols-1 md:grid-cols-2`}>
      {goldSponsors.map((sponsor) => (
        <li class={`${listItemStyles} h-[250px] sm:h-[350px]`}>
          <a
            class={`${linkStyles} ${sponsor.imgName.includes("logo_placeholder") ? "border-[4px] border-dashed" : ""}`}
            href={sponsor.url}
            target={sponsor.url.startsWith("http") ? "_blank" : "_self"}
            rel="noreferrer noopener"
            title={sponsor.name}
            aria-label={`Visit the website of ${sponsor.name}`}
          >
            <div class={imageWrapperStyles}>
              <Image
                src={getImage(sponsor.imgName)}
                alt=""
                loading="lazy"
                width="600"
                height="300"
                densities={[1.5, 2]}
              />
            </div>
          </a>
        </li>
      ))}
    </ul>
  </div>
  {silverSponsors.length > 0 && (
    <div class="space-y-6">
      <h2 class={headingStyles}>Silver sponsors</h2>
      <ul role="list" class={`${listStyles} grid-cols-1 sm:grid-cols-2 md:grid-cols-3`}>
        {silverSponsors.map((sponsor) => (
          <li class={`${listItemStyles} h-[180px] sm:h-[220px]`}>
            <a
              class={linkStyles}
              href={sponsor.url}
              target="_blank"
              rel="noreferrer noopener"
              title={sponsor.name}
              aria-label={`Visit the website of ${sponsor.name}`}
            >
              <div class={imageWrapperStyles}>
                <Image
                  src={getImage(sponsor.imgName)}
                  alt=""
                  loading="lazy"
                  width="350"
                  height="175"
                  densities={[1.5, 2]}
                />
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  )}
  {bronzeSponsors.length > 0 && (
    <div class="space-y-6">
      <h2 class={headingStyles}>Bronze sponsors</h2>
      <ul role="list" class={`${listStyles} grid-cols-2 sm:grid-cols-3 md:grid-cols-4`}>
        {bronzeSponsors.map((sponsor) => (
          <li class={`${listItemStyles} h-[150px] sm:h-[175px]`}>
            <a
              class={linkStyles}
              href={sponsor.url}
              target="_blank"
              rel="noreferrer noopener"
              title={sponsor.name}
              aria-label={`Visit the website of ${sponsor.name}`}
            >
              <div class={imageWrapperStyles}>
                <Image
                  src={getImage(sponsor.imgName)}
                  alt=""
                  loading="lazy"
                  width="300"
                  height="150"
                  densities={[1.5, 2]}
                />
              </div>
            </a>
          </li>
        ))}
      </ul>
      <p>
        If you are interested in supporting us,{" "}
        <strong>
          <a href="/sponsor" rel="noreferrer noopener">
            check out our sponsorship page
          </a>
        </strong>
        .
      </p>
    </div>
  )}

  <div class="space-y-6">
    <h2 class={headingStyles}>Event partners</h2>
    <ul role="list" class={`${listStyles} grid-cols-2 sm:grid-cols-3 md:grid-cols-4`}>
      {
        partners.map((com) => (
          <li class={`${listItemStyles} h-[150px] sm:h-[175px]`}>
            <a
              class={linkStyles}
              href={com.url}
              target="_blank"
              rel="noreferrer noopener"
              title={com.name}
              aria-label={`Visit the website of ${com.name}`}
            >
              <div class={imageWrapperStyles}>
                <Image
                  src={getImage(com.imgName)}
                  alt=""
                  width="300"
                  height="150"
                  densities={[1.5, 2]}
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class={headingStyles}>Media partners</h2>
    <ul role="list" class={`${listStyles} grid-cols-2 sm:grid-cols-3 md:grid-cols-4`}>
      {
        communities.map((com) => (
          <li class={`${listItemStyles} h-[150px] sm:h-[175px]`}>
            <a
              class={linkStyles}
              href={com.url}
              target="_blank"
              rel="noreferrer noopener"
              title={com.name}
              aria-label={`Visit the website of ${com.name}`}
              style={com.overrideBgColor ? `background-color: ${com.overrideBgColor};` : ""}
            >
              <div class={imageWrapperStyles}>
                <Image
                  src={getImage(com.imgName)}
                  alt=""
                  width="300"
                  height="150"
                  class="max-h-[130px] w-auto object-contain"
                  densities={[1.5, 2]}
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>


