---
import { getCollection } from "astro:content";
import PersonCard from "../components/PersonCard.astro";

const organizers = await getCollection("organizers");
const volunteers = await getCollection("volunteers");

const listStyles = "flex flex-wrap justify-center gap-8 py-8 px-0";
const listItemStyles = "color-item list-none pb-2";
---

<div class="text-center">
  <h2>Meet the organizers</h2>
</div>

<ul role="list" class={listStyles}>
  {
    organizers.map((o) => (
      <>
        <li class={listItemStyles}>
          <PersonCard variant="small" person={o} />
        </li>
      </>
    ))
  }
</ul>

<div class="text-center">
  <h2>And our event volunteers</h2>
</div>

<ul role="list" class={listStyles}>
  {
    volunteers.map((v) => (
      <>
        <li class={listItemStyles}>
          <PersonCard variant="small" person={v} />
        </li>
      </>
    ))
  }
</ul>

<style>
  .color-item:nth-child(3n) {
    --person-accent-color: theme("colors.accent-pink");
  }

  .color-item:nth-child(3n + 1) {
    --person-accent-color: theme("colors.accent-orange");
  }

  .color-item:nth-child(3n + 2) {
    --person-accent-color: theme("colors.accent-green");
  }
</style>
