---
import { getCollection } from "astro:content";
import PersonCard from "../components/PersonCard.astro";

const organizers = await getCollection("organizers");
const volunteers = await getCollection("volunteers");
const ambassadors = await getCollection("ambassadors");

const listStyles = "flex flex-wrap justify-center md:justify-start gap-8 py-8 px-0";
const listItemStyles = "color-item list-none pb-2";
---

<h2 class="text-center md:text-left">The team behind 👊</h2>

<ul role="list" class={listStyles}>
  {
    organizers.map((o) => (
      <>
        <li class={listItemStyles}>
          <PersonCard variant="small" person={o} />
        </li>
      </>
    ))
  }
</ul>

<div class="text-center md:text-left">
  <h2>The event volunteers ✋</h2>
</div>

<ul role="list" class={listStyles}>
  {
    volunteers.map((v) => (
      <>
        <li class={listItemStyles}>
          <PersonCard variant="small" person={v} />
        </li>
      </>
    ))
  }
</ul>

<div class="text-center md:text-left">
  <h2>And the brand ambassadors 📢</h2>
</div>

<ul role="list" class={listStyles}>
  {
    ambassadors.map((a) => (
      <li class={listItemStyles}>
        <PersonCard variant="small" person={a} />
      </li>
    ))
  }
</ul>

<style>
  .color-item:nth-child(7n + 1) {
    --person-accent-color: theme("colors.accent-pink");
  }

  .color-item:nth-child(7n + 2) {
    --person-accent-color: theme("colors.accent-orange");
  }

  .color-item:nth-child(7n + 3) {
    --person-accent-color: theme("colors.accent-green");
  }

  .color-item:nth-child(7n + 4) {
    --person-accent-color: #6b7ba4;
  }

  .color-item:nth-child(7n + 5) {
    --person-accent-color: #ffb0a8;
  }

  .color-item:nth-child(7n + 6) {
    --person-accent-color: #bbab50;
  }

  .color-item:nth-child(7n) {
    --person-accent-color: #9b6b9e;
  }
</style>
