---
import { CFP_OPEN, CURRENT_YEAR } from "../data/constants";

import PersonCard from "../components/PersonCard.astro";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import { getCollection } from "astro:content";

const speakers = await getCollection("speakers");
const ambassadors = await getCollection("ambassadors");
const support = await getCollection("support");

const listStyles = "flex flex-wrap justify-center gap-8 py-8 px-0";
const listItemStyles = "color-item list-none pb-4";
---

<div class="text-center">
  <h2>Meet our first {CURRENT_YEAR} speakers</h2>
</div>

<ul role="list" class={listStyles}>
  {
    Object.values(speakers).map((s) => (
      <li class={listItemStyles}>
        <PersonCard person={s} />
      </li>
    ))
  }

  {
    CFP_OPEN && (
      <li class={listItemStyles}>
        <PlaceholderCard
          imgName="/props/bear.svg"
          title="You?"
          subtitle="Submit your proposal"
          link="/speak"
        />
      </li>
    )
  }
</ul>

<!-- <div class="text-center">
  <h2>Our support crew</h2>
</div>

<ul role="list" class={listStyles}>
  {
    support.map((s) => (
      <li class={listItemStyles}>
        <PersonCard person={s} />
      </li>
    ))
  }
</ul> -->

<div class="text-center">
  <h2>And our awesome ambassadors</h2>

  <p>
    An amazing group of people that ensure top-notch content at the event every
    year
  </p>
</div>

<ul role="list" class={listStyles}>
  {
    ambassadors.map((a) => (
      <li class={listItemStyles}>
        <PersonCard person={a} />
      </li>
    ))
  }
</ul>

<style>
  .color-item:nth-child(6n + 1) {
    --person-accent-color: theme("colors.accent-pink");
  }

  .color-item:nth-child(6n + 2) {
    --person-accent-color: theme("colors.accent-orange");
  }

  .color-item:nth-child(6n + 3) {
    --person-accent-color: theme("colors.accent-green");
  }

  .color-item:nth-child(6n + 4) {
    --person-accent-color: #6b7ba4;
  }

  .color-item:nth-child(6n + 5) {
    --person-accent-color: #ffb0a8;
  }

  .color-item:nth-child(6n) {
    --person-accent-color: #bbab50;
  }
</style>
