---
import { CFP_OPEN, CURRENT_YEAR } from "../data/constants";

import PersonCard from "../components/PersonCard.astro";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import { getCollection } from "astro:content";

const speakers = await getCollection("speakers");
const support = await getCollection("support");

const listStyles = "flex flex-wrap justify-center md:justify-start gap-8 py-8 px-0";
const listItemStyles = "color-item list-none pb-4";

const speakersSorted = Object.values(speakers).filter(s => s.data.order);
speakersSorted.sort((a, b) => {
  if (a.data.order && b.data.order) {
    return a.data.order - b.data.order;
  }
  return 0;
});
---

<div>
  <h2 class="text-center md:text-left">Meet the heroes of 2026</h2>
</div>

<ul role="list" class={listStyles}>
  {
    speakersSorted.map((s) => (
      <li class={listItemStyles}>
        <PersonCard person={s} />
      </li>
    ))
  }

  {
    CFP_OPEN && (
      <li class={listItemStyles}>
        <PlaceholderCard
          imgName="/props/bear.svg"
          title="Your name"
          subtitle="Submit a proposal"
          link="/speak"
        />
      </li>
    )
  }
</ul>

<!-- <div class="text-center">
  <h2>Our support crew</h2>
</div>

<ul role="list" class={listStyles}>
  {
    support.filter(s => s.data.title === "MC").map((s) => (
      <li class={listItemStyles}>
        <PersonCard person={s} />
      </li>
    )) 
  }
  {
    support.filter(s => s.data.title !== "MC").map((s) => (
      <li class={listItemStyles}>
        <PersonCard person={s} />
      </li>
    ))
    
  }
</ul> -->

<style>
  .color-item:nth-child(7n + 1) {
    --person-accent-color: theme("colors.accent-pink");
  }

  .color-item:nth-child(7n + 2) {
    --person-accent-color: theme("colors.accent-orange");
  }

  .color-item:nth-child(7n + 3) {
    --person-accent-color: theme("colors.accent-green");
  }

  .color-item:nth-child(7n + 4) {
    --person-accent-color: #8b9bc4;
  }

  .color-item:nth-child(7n + 5) {
    --person-accent-color: #ffb0a8;
  }

  .color-item:nth-child(7n + 6) {
    --person-accent-color: #bbab50;
  }

  .color-item:nth-child(7n) {
    --person-accent-color: #9b6b9e;
  }
</style>
