---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Preload from "../components/Preload.astro"
import ScrollToTop from "../components/ScrollToTop.astro"
import { ViewTransitions } from "astro:transitions"
import { Tooltips } from "astro-tooltips";

import { EVENT_DATES, CURRENT_YEAR, SEO_TAGLINE } from "../data/constants"

import "@fontsource/sora/400.css"
import "@fontsource/sora/500.css"

import "@/assets/base.css"

export interface Props {
  title?: string
  isHomePage?: boolean
}

const { title: propsTitle, isHomePage } = Astro.props as Props

const title = propsTitle || `JSHeroes ${CURRENT_YEAR} | ${SEO_TAGLINE}`
const description = `JSHeroes is an yearly event organized by the local JS community in Cluj, Romania. Check the latest updates and join us on the ${EVENT_DATES} ${CURRENT_YEAR}`
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="-VWpgQNMZy97BonSpKFQXFiI7wRwtWmdQeKzLjJsH08"
    />
    <link rel="icon" type="image/x-icon" href="/img/social/bear-192.png" />
    <title>{title}</title>

    <Preload />

    <link rel="manifest" href="/manifest.json" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#0b1b44" />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jsheroes.io/" />
    <meta
      property="og:image"
      content="https://jsheroes.io/img/social/new-2026.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={title} />
    <meta name="twitter:site" content="@jsheroes" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://jsheroes.io/img/social/new-2026.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@jsheroes" />

    <script async src="https://cdn.splitbee.io/sb.js"></script>
    <ViewTransitions />
    <Tooltips interactive={false} delay={[75, 75]} placement="bottom" />
  </head>

  <body>
    <Navbar isHomePage={isHomePage} />
    {
      isHomePage ? (
        <slot />
      ) : (
        <div class="pt-14">
          <slot />
        </div>
      )
    }
    <ScrollToTop />
    <Footer />
  </body>
</html>
