---
import { type CollectionEntry, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthorCard from "../components/AuthorCard.astro";
import Section from "../components/Section.astro";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  blog: CollectionEntry<"blog">;
  next?: CollectionEntry<"blog">;
  prev?: CollectionEntry<"blog">;
}

const { blog, next, prev } = Astro.props as Props;

const author = await getEntry(blog.data.author_category, blog.data.author);

const blogTitle = `JSHeroes | ${blog.data.title}`;
---

<BaseLayout title={blogTitle}>
  <img
    class="block w-full h-[500px] object-cover"
    src={"/img/banners/default-with-bear.svg"}
    aria-hidden
  />

  <main id="main">
    <Section variant="light" content="list">
      <article>
        <div class="flex flex-col md:flex-row gap-8 justify-center">
          <div class="prose">
            <h1>{blog.data.title}</h1>
            <slot />
          </div>

          <aside class="flex flex-col gap-4 shrink-0">
            {author && <AuthorCard author={author} />}

            <div class="divider"></div>

            <div>
              <div class="font-sm">Published</div>
              <FormattedDate date={blog.data.published} />
            </div>

            <div class="divider"></div>

            <div>
              <div class="font-sm">Tags</div>
              <div class="flex flex-wrap gap-2">
                {
                  blog.data.tags.map((tag) => (
                    <a class="capitalize" href={`/tags/${tag.slug}`}>
                      {tag.slug}
                    </a>
                  ))
                }
              </div>
            </div>

            <div class="divider"></div>

            {
              (next || prev) && (
                <div class="flex flex-row justify-between gap-2 md:flex-col md:gap-4 md:justify-center">
                  {prev && (
                    <div>
                      <div class="font-sm">Previous</div>
                      <a href={`/blog/${prev.slug}`}>{prev.data.title}</a>
                    </div>
                  )}
                  {next && (
                    <div class="self-end text-right md:text-left md:self-start">
                      <div class="font-sm">Next</div>
                      <a href={`/blog/${next.slug}`}>{next.data.title}</a>
                    </div>
                  )}
                </div>
              )
            }

            <div class="mt-4">
              <a href="/blog"> &larr; Back to the blog</a>
            </div>
          </aside>
        </div>
      </article>
    </Section>
  </main>
</BaseLayout>
