---
import { type CollectionEntry, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthorCard from "../components/AuthorCard.astro";
import Section from "../components/Section.astro";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  blog: CollectionEntry<"blog">;
  next?: CollectionEntry<"blog">;
  prev?: CollectionEntry<"blog">;
}

const { blog, next, prev } = Astro.props as Props;

const author = await getEntry(blog.data.author_category, blog.data.author);

const blogTitle = `JSHeroes | ${blog.data.title}`;
---

<BaseLayout title={blogTitle}>
  <img
    class="header-image"
    src={"/img/banners/default-with-bear.svg"}
    aria-hidden
  />

  <main id="main">
    <Section variant="light" content="list">
      <article class="article">
        <div class="content">
          <div class="blog-content">
            <h1>{blog.data.title}</h1>
            <slot />
          </div>

          <aside class="details">
            {author && <AuthorCard author={author} />}

            <div class="divider"></div>

            <div>
              <div class="font-sm">Published</div>
              <FormattedDate date={blog.data.published} />
            </div>

            <div class="divider"></div>

            <div>
              <div class="font-sm">Tags</div>
              <div class="tags">
                {
                  blog.data.tags.map((tag) => (
                    <a href={`/tags/${tag.slug}`}>{tag.slug}</a>
                  ))
                }
              </div>
            </div>

            <div class="divider"></div>

            {
              (next || prev) && (
                <div class="articles">
                  {prev && (
                    <div class="prev">
                      <div class="font-sm">Previous</div>
                      <a href={`/blog/${prev.slug}`}>{prev.data.title}</a>
                    </div>
                  )}
                  {next && (
                    <div class="next">
                      <div class="font-sm">Next</div>
                      <a href={`/blog/${next.slug}`}>{next.data.title}</a>
                    </div>
                  )}
                </div>
              )
            }

            <div class="back">
              <a href="/blog"> &larr; Back to the blog</a>
            </div>
          </aside>
        </div>
      </article>
    </Section>
  </main>
</BaseLayout>

<style>
  header {
    padding-bottom: 1.5rem;

    & dd {
      margin: 0;
    }
  }
  .article {
    display: block;
  }

  .content {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .blog-content {
    max-width: 60ch;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tags a {
    text-transform: capitalize;
  }

  .articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .content {
      flex-direction: column;
    }

    .articles {
      flex-direction: row;
      gap: 0.5rem;
      justify-content: space-between;
    }

    .next {
      align-items: end;
      text-align: end;
    }
  }

  .articles div {
    display: flex;
    flex-direction: column;
  }

  .back {
    margin-top: 1rem;
  }

  .divider {
    border: 1px solid rgb(229 231 235 / 50%);
    width: 100%;
    margin: 0 auto;
  }

  .font-sm {
    font-size: var(--font-size-sm);
  }

  h1 {
    font-size: 2rem !important;
  }

  :global(h2) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  :global(h3) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
</style>
