---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import { CURRENT_YEAR } from "../data/constants";
import type { PersonalDetails } from "../data/types";
import AuthorCard from "../components/AuthorCard.astro";

const { frontmatter } = Astro.props;

const organizers = await Astro.glob<PersonalDetails>("../data/organizers/*.md");
const author = organizers.find(
  (org) => org.frontmatter.name === frontmatter.author
);
const id = author ? author.file.split("/").pop() : null;
---

<BaseLayout
  title={`JSHeroes ${CURRENT_YEAR} | ${
    frontmatter.title || "Open-Source Community Event"
  }`}
>
  <img
    class="header-image"
    src={frontmatter.banner || "/img/banners/default-with-bear.svg"}
    aria-hidden
  />
  <main id="main">
    <Section variant="light" content="text">
      {
        author && id && (
          <AuthorCard
            id={id}
            author={author}
            publishDate={frontmatter.published}
          />
        )
      }
      <h1>{frontmatter.title}</h1>
      <slot />
    </Section>
  </main>
</BaseLayout>

<style>
  .header-image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  main {
    /* header + footer */
    min-height: calc(100vh - 500px - 400px);
    position: relative;
  }

  :global(h1) {
    font-size: 2rem !important;
  }
</style>
